{% extends "base.html" %}

{% block content %}
<h3 class="mb-4">Etapa 1 — Especificar aplicação</h3>
<form method="post" class="w-50">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.model_type.label(class="form-label") }}
    {{ form.model_type(class="form-select") }}
  </div>

  <div class="mb-3">
    {{ form.input_type.label(class="form-label") }}
    {{ form.input_type(class="form-select") }}
  </div>

  <div class="mb-3">
    {{ form.framework.label(class="form-label") }}
    {{ form.framework(class="form-select") }}
  </div>

  {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}
